<% provide(:title, "Home") %>

<% if logged_in? %>
  <div class="row">
  	<aside class="col-md-4">
  	  <section class="user_info">
  	    <%= render 'shared/user_info' %>
  	  </section>
  	  <section class="micropost_form">
  	  	<%= render 'shared/micropost_form' %>
  	  </section>
  	</aside>
  	<div class="col-md-8">
  	  <h3>Micropost timeline</h3>
  	  <%= render 'shared/timeline' %>
  	</div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Micropost App</h1>

    <h2>
      Esta es la pagina del curso de Ruby on Rails de thincode
      <br />Ruby on Rails Tutorial
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
