<% provide(:title, 'Edit my info') %>
<% provide(:button_text, 'Save') %>
<h1>Edit your info</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>


