<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
  	<section class="user_info">
  	  <h1>
  	  	<%= @user.name %>,
  	  	<%= @user.email %>
  	  </h1>
  	</section>
  </aside>
  <div class="col-md-8">
  	<% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
      	<% @microposts.each do |micropost| %>
      	<%= render micropost %>
      	<% end %>
      </ol>
      <%= will_paginate @microposts %>
  	<% end %>
  </div>
</div>
